.navbar-inverse{
  background-color: rgba(0,0,0,1);
  border-color: rgba(0,0,0,1)
}

h1{
  font-family: 'Anton', sans-serif;
  color: black;
}

h2{
  font-family: 'Arvo', serif; 
}

.left-float{
  float:left;
  margin-right: 20px;
}

.center-float{
  float:center
  margin-right: 20px;
}
