.navbar-inverse{
  background-color: rgba(0,0,0,1);
  border-color: rgba(0,0,0,1)
}


body{
 font-family: "Avenir" sans-serif;
 font-size: 14px;
 line-height: 1.42857143;
 color: #333;
 background-color: #fff
}
